<div><nav class="navbar bg-info">
  <div class="container-fluid">
    <span class="navbar-brand mb-2 h1">Project Details</span>
  </div>
</nav></div>
<div>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    select operational level
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">operational level</a></li>
    <li><a class="dropdown-item" href="#">Dropdown item</a></li>
    <li><a class="dropdown-item" href="#">Dropdown item</a></li>
  </ul>
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Status
  </button>
</div>
</div>
  <div class="position-absolute top-1 end-0">
<button type="button" class="btn btn-secondary">Add project</button>
</div>

