

<div class="position-relative">
  <div class="position-absolute top-0 end-0">
  <button type="button"(click)="logout()" *ngIf="isLoggedIn()">Sign out</button>
</div>
</div>
  <div *ngIf="isLoggedIn()">
      <div class="p-3 mb-2">Welcome to {{ username }} profile<h3 style="color:#39C0ED">Employee Dashboard</h3></div>
      <app-logincomponent>Add employee projects</app-logincomponent>
  </div>
   <!-- Above for sign out -->

   <div class="p-3 mb-2 bg-secondary text-white">
    <div class="mx-auto" style="width: 130px;">
  <button type="button"(click)="login()" *ngIf="!isLoggedIn()"[(ngModel)]="username" ngDefaultControl class="btn btn-primary mt-5" >Single Sign on</button>
  <!-- <h3>Welcome to</h3>{{ email }} -->
  </div></div>
  
    <!-- <button type="button"(click)="login()" *ngIf="!isLoggedIn()" class="btn btn-primary mt-5" >Single Sign on</button> -->

  <div *ngIf="!isLoggedIn()">
    <h4 style="color:#39C0ED">You are not logged in</h4></div>