

<div class="position-relative">
  <div class="position-absolute top-0 end-0">
  <button type="button"(click)="logout()" *ngIf="isLoggedIn()">Sign out</button>
</div>
</div>
  <div *ngIf="isLoggedIn()">

    <nav class="navbar bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color:#39C0ED" >Welcome to {{ username }} profile</span>
      </div>
    </nav>
    <!-- <div class="p-3 mb-2">Welcome to {{ username }} profile<h3 style="color:#39C0ED">Project Details</h3></div> -->
      <app-logincomponent></app-logincomponent>
   <!-- Above for sign out -->

   <div class="p-3 mb-2 bg-secondary text-white">
    <div class="mx-auto" style="width: 130px;">
  <button type="button"(click)="login()" *ngIf="!isLoggedIn()"[(ngModel)]="username" ngDefaultControl class="btn btn-primary mt-5" >Single Sign on</button>
  <!-- <h3>Welcome to</h3>{{ email }} -->
  </div></div>
  
    <!-- <button type="button"(click)="login()" *ngIf="!isLoggedIn()" class="btn btn-primary mt-5" >Single Sign on</button> -->

  <div *ngIf="!isLoggedIn()">
    <h4 style="color:#39C0ED">You are not logged in bebbo file</h4></div>
    